/* Italian Plate No2 Expanded Font Family */
/* All font weights and styles */

@layer base {
  /* Thin - 100 */
  @font-face {
    font-family: 'Italian Plate No2 Expanded';
    src: url('./assets/fonts/italian-plate/Italian-Plate-No2-Expanded-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Italian Plate No2 Expanded';
    src: url('./assets/fonts/italian-plate/Italian-Plate-No2-Expanded-Thin-Italic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
  }

  /* Ultralight - 200 */
  @font-face {
    font-family: 'Italian Plate No2 Expanded';
    src: url('./assets/fonts/italian-plate/Italian-Plate-No2-Expanded-Ultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Italian Plate No2 Expanded';
    src: url('./assets/fonts/italian-plate/Italian-Plate-No2-Expanded-Ultralight-Italic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
  }

  /* Extralight - 250 */
  @font-face {
    font-family: 'Italian Plate No2 Expanded';
    src: url('./assets/fonts/italian-plate/Italian-Plate-No2-Expanded-Extralight.ttf') format('truetype');
    font-weight: 250;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Italian Plate No2 Expanded';
    src: url('./assets/fonts/italian-plate/Italian-Plate-No2-Expanded-Extralight-Italic.ttf') format('truetype');
    font-weight: 250;
    font-style: italic;
    font-display: swap;
  }

  /* Light - 300 */
  @font-face {
    font-family: 'Italian Plate No2 Expanded';
    src: url('./assets/fonts/italian-plate/Italian-Plate-No2-Expanded-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Italian Plate No2 Expanded';
    src: url('./assets/fonts/italian-plate/Italian-Plate-No2-Expanded-Light-Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }

  /* Regular - 400 */
  @font-face {
    font-family: 'Italian Plate No2 Expanded';
    src: url('./assets/fonts/italian-plate/Italian-Plate-No2-Expanded.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Italian Plate No2 Expanded';
    src: url('./assets/fonts/italian-plate/Italian-Plate-No2-Expanded-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }

  /* Medium - 500 */
  @font-face {
    font-family: 'Italian Plate No2 Expanded';
    src: url('./assets/fonts/italian-plate/Italian-Plate-No2-Expanded-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Italian Plate No2 Expanded';
    src: url('./assets/fonts/italian-plate/Italian-Plate-No2-Expanded-Medium-Italic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }

  /* Demibold - 600 */
  @font-face {
    font-family: 'Italian Plate No2 Expanded';
    src: url('./assets/fonts/italian-plate/Italian-Plate-No2-Expanded-Demibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Italian Plate No2 Expanded';
    src: url('./assets/fonts/italian-plate/Italian-Plate-No2-Expanded-Demibold-Italic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }

  /* Bold - 700 */
  @font-face {
    font-family: 'Italian Plate No2 Expanded';
    src: url('./assets/fonts/italian-plate/Italian-Plate-No2-Expanded-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Italian Plate No2 Expanded';
    src: url('./assets/fonts/italian-plate/Italian-Plate-No2-Expanded-Bold-Italic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
  }

  /* Extrabold - 800 */
  @font-face {
    font-family: 'Italian Plate No2 Expanded';
    src: url('./assets/fonts/italian-plate/Italian-Plate-No2-Expanded-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Italian Plate No2 Expanded';
    src: url('./assets/fonts/italian-plate/Italian-Plate-No2-Expanded-Extrabold-Italic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
  }

  /* Black - 900 */
  @font-face {
    font-family: 'Italian Plate No2 Expanded';
    src: url('./assets/fonts/italian-plate/Italian-Plate-No2-Expanded-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Italian Plate No2 Expanded';
    src: url('./assets/fonts/italian-plate/Italian-Plate-No2-Expanded-Black-Italic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  }
}
